@tailwind base;
@tailwind components;
@tailwind utilities;


canvas {
    touch-action: none;
}

.htmlScreen iframe {
    width: 1200px;
    height: 800px;
    border: none;
    border-radius: 20px;
    background: #F09BA7;
}
