@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: banger;
    src: url("../public/bangers-v20-latin-regular.woff");
  }

canvas {
    touch-action: none;
}

.htmlScreen iframe {
    width: 1200px;
    height: 800px;
    border: none;
    border-radius: 20px;
    background: #F09BA7;
}

.loadingFont{
    font-family: banger;
}